<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.malaz.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.malaz.app.SplashScreen"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.malaz.app.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.malaz.app.ChargeActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_charge" >
        </activity>
        <activity
            android:name="com.malaz.app.TransfereActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_convert" >
        </activity>
        <activity
            android:name="com.malaz.app.CallmeActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_callme" >
        </activity>
        <activity
            android:name="com.malaz.app.LogsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_history" >
        </activity>
        <activity
            android:name="com.malaz.app.ApplicationPreferenceActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.malaz.app.ApplicationPreferenceActivity" >
                </action>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.malaz.reports.WeeklyReportActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_report" >
        </activity>
        <activity
            android:name="com.malaz.reports.ReportsMainActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_report" >
        </activity>
        <activity
            android:name="com.malaz.reports.MonthlyReportActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_monthly_report" >
        </activity>
        <activity
            android:name="com.malaz.reports.YearlyReportActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_yearly_report" >
        </activity>
        <activity
            android:name="com.malaz.app.SpeachRecognitionActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_speach_recognition" >
        </activity>
    </application>

</manifest>